In [1]:
import pandas as pd 
import numpy as np

# Google Data

In [4]:
google_us = pd.read_csv('../raw_data/google_data/mobility_report_US.csv')
google_us.head()

,state,county,date,retail,grocery and pharmacy,parks,transit stations,workplaces,residential
0,Total,Total,2020-02-15,6.0,2.0,15.0,3.0,2.0,-1.0
1,Total,Total,2020-02-16,7.0,1.0,16.0,2.0,0.0,-1.0
2,Total,Total,2020-02-17,6.0,0.0,28.0,-9.0,-24.0,5.0
3,Total,Total,2020-02-18,0.0,-1.0,6.0,1.0,0.0,1.0
4,Total,Total,2020-02-19,2.0,0.0,8.0,1.0,1.0,0.0

In [9]:
data = google_us.values
ny_index = np.where()

SyntaxError: invalid syntax (<ipython-input-9-58d4d842f36f>, line 1)